@import "../../globals.scss";

a {
  text-decoration: none;
  color: color("text-secondary");
  font: "Lato";
  font-style: normal;
  font-size: 10px;
}
.drop {
  background-color: color("background-light");
  width: 90%;
  border-radius: 1rem;
  box-shadow: color("box-shadow") 0px 8px 24px;
  height: fit-content;
  padding: 5% 5% 0 5%;
}
.drop-body {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: auto;
}
.drop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}
.drop-title {
  color: color("text-primary");
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
}
.drop-info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  & div:first-child {
    width: 50%;
    border-right: solid 2px color("separator");
  }
}
.drop-banner {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 10px;
  width: 20%;
  height: 100%;
  border-radius: 30px;

  &.Pendiente {
    border: 1px solid orange;
    color: orange;
  }
  &.Rechazado {
    border: 1px solid red;
    color: red;
  }
  &.Aceptado {
    border: 1px solid rgb(0, 255, 30);
    color: rgb(0, 255, 30);
  }
}
.icons {
  display: flex;
  justify-content: space-between;
  width: 10%;
  align-self: center;
}
